<% provide(:title, 'Home') %>
<h1>Backlog Blooming</h1>
<ul>
	<li>Sprout your user stories</li>
	<li>Nurture your sprints</li>
	<li>Hatch your planning</li>
	<li>Grow your confidence</li>
	<li>Harvest success</li>
</ul>
	
<%= link_to "Sign up now!", signup_path, class: "signup_button round" %>