<% provide(:title, 'Home') %>
<h1>Home</h1>
<p>Backlog Blooming :</p>
<p>- Sprout your user stories</p>
<p>- Nurture your sprints</p>
<p>- Hatch your planning</p>
<p>- Grow your confidence</p>
<p>- Harvest success</p>

<p>	<%= link_to "Help", info_pages_help_path %> 
	<%= link_to "About", info_pages_about_path %></p>
	
<%= link_to "Sign up now!", '#', class: "signup_button round" %>