<footer class="footer">
	<small>
		More punkware from us at <a href="https://github.com/punkware/">github</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Help", help_path %></li>
		</ul>
	</nav>
</footer>